Plugins>Stowers>Jay_Unruh>Detrend Tools,"carpet detrend linear jru v1",carpet_detrend_linear_jru_v1
Plugins>Stowers>Jay_Unruh>Detrend Tools,"carpet sub mov avg jru v1",carpet_sub_mov_avg_jru_v1
Plugins>Stowers>Jay_Unruh>Detrend Tools,"divide line from carpet jru v1",divide_line_from_carpet_jru_v1
Plugins>Stowers>Jay_Unruh>Detrend Tools,"divide line from stack jru v1",divide_line_from_stack_jru_v1
Plugins>Stowers>Jay_Unruh>Detrend Tools,"roi average divide jru v1",roi_average_divide_jru_v1
Plugins>Stowers>Jay_Unruh>Detrend Tools,"roi average subtract jru v1",roi_average_subtract_jru_v1
Plugins>Stowers>Jay_Unruh>Detrend Tools,"roi outside fill avg jru v1",roi_outside_fill_avg_jru_v1
Plugins>Stowers>Jay_Unruh>Detrend Tools,"stack detrend linear jru v1",stack_detrend_linear_jru_v1
Plugins>Stowers>Jay_Unruh>Detrend Tools,"stack subtract moving average jru v2",stack_subtract_moving_average_jru_v2
Plugins>Stowers>Jay_Unruh>Detrend Tools,"subtract line from carpet jru v1",subtract_line_from_carpet_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"cat hyperstacks jru v1",cat_hyperstacks_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"Xuggler encoder jru v1",Xuggler_encoder_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"Xuggler file reader jru v1",Xuggler_file_reader_jru_v1
Plugins>Stowers>Jay_Unruh>FLIM Tools,"fit lifetime jru v1",fit_lifetime_jru_v1
Plugins>Stowers>Jay_Unruh>FLIM Tools,"flim S G stack jru v1",flim_S_G_stack_jru_v1
Plugins>Stowers>Jay_Unruh>FLIM Tools,"GS 2 phasemod jru v1",GS_2_phasemod_jru_v1
Plugins>Stowers>Jay_Unruh>FLIM Tools,"histogram 2D phasor jru v1",histogram_2D_phasor_jru_v1
Plugins>Stowers>Jay_Unruh>FLIM Tools,"read BH sdt jru v1",read_BH_sdt_jru_v1
Plugins>Stowers>Jay_Unruh>FLIM Tools,"traj S G jru v1",traj_S_G_jru_v1
Plugins>Stowers>Jay_Unruh>ICS Tools,"fit RICS jru v1",fit_RICS_jru_v1
Plugins>Stowers>Jay_Unruh>ICS Tools,"fit RICS line jru v1",fit_RICS_line_jru_v1
Plugins>Stowers>Jay_Unruh>ICS Tools,"histogram 2D N B jru v1",histogram_2D_N_B_jru_v1
Plugins>Stowers>Jay_Unruh>ICS Tools,"stack FFT ICCS jru v1",stack_FFT_ICCS_jru_v1
Plugins>Stowers>Jay_Unruh>ICS Tools,"stack FFT ICS jru v1",stack_FFT_ICS_jru_v1
Plugins>Stowers>Jay_Unruh>ICS Tools,"STICS map jru v2",STICS_map_jru_v2
Plugins>Stowers>Jay_Unruh>Image Tools,"avg profile jru v1",avg_profile_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"bin image jru v1",bin_image_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"circular avg jru v1",circular_avg_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"create hs profile jru v1",create_hs_profile_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"create spectrum jru v1",create_spectrum_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"delete hs slice jru v1",delete_hs_slice_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"duplicate hs slice jru v1",duplicate_hs_slice_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"dynamic spectrum jru v1",dynamic_spectrum_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"fit roi gaussian gridsearch jru v1",fit_roi_gaussian_gridsearch_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"fit roi gaussian jru v1",fit_roi_gaussian_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"float 3D depthcode jru v1",float_3D_depthcode_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"float 3D project jru v1",float_3D_project_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"linear unmixing jru v1",linear_unmixing_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"mask hist jru v1",mask_hist_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"mask stack jru v1",mask_stack_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"mask stats jru v1",mask_stats_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"nnmf spectral unmixing jru v1",nnmf_spectral_unmixing_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"pca spectral unmixing jru v1",pca_spectral_unmixing_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"plot line profile jru v1",plot_line_profile_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"plot line profiles jru v1",plot_line_profiles_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"polyline kymograph jru v1",polyline_kymograph_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"stack editor jru v1",stack_editor_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"stack statistics jru v1",stack_statistics_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"stack statistics jru v2",stack_statistics_jru_v2
Plugins>Stowers>Jay_Unruh>Image Tools,"subtract min jru v1",subtract_min_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"edit objects jru v1",edit_objects_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"filter objects jru v1",filter_objects_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"gray morphology jru v1",gray_morphology_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"make edge connected jru v1",make_edge_connected_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"outline objects jru v1",outline_objects_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"realign movie jru v1",realign_movie_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"thresh 3D fraction max jru v1",thresh_3D_fraction_max_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"track centroid jru v1",track_centroid_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"track maximum jru v1",track_maximum_jru_v1
Plugins>Stowers>Jay_Unruh>Sim Tools,"simfluc scanning jru v2",simfluc_scanning_jru_v2
Plugins>Stowers>Jay_Unruh>Table Tools,"add table column jru v1",add_table_column_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"combine all tables jru v1",combine_all_tables_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"hist columns jru v1",hist_columns_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"new clipboard table jru v1",new_clipboard_table_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"plot columns jru v1",plot_columns_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"search table jru v1",search_table_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"sort table jru v1",sort_table_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"analysis auto corr v2",analysis_auto_corr_v2
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"analysis cross corr v2",analysis_cross_corr_v2
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"analysis pch 2D",analysis_pch_2D
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"analysis pch",analysis_pch
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"average trajectories jru v1",average_trajectories_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"batch FRAP fit jru v1",batch_FRAP_fit_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"combine all trajectories jru v1",combine_all_trajectories_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"combine trajectories jru v1",combine_trajectories_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"copy yvals jru v1",copy_yvals_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"export plot jru v1",export_plot_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"extract selected jru v1",extract_selected_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"fit custom function jru v1",fit_custom_function_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"fit multi gaussian jru v1",fit_multi_gaussian_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"fit poly jru v1",fit_poly_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"function generator jru v1",function_generator_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"import plot jru v1",import_plot_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"import t3r trajectory jru v1",import_t3r_trajectory_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"import trajectory jru v1",import_trajectory_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"normalize trajectories jru v1",normalize_trajectories_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"separate trajectories jru v1",separate_trajectories_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"smooth trajectory jru v1",smooth_trajectory_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"text2plot jru v1",text2plot_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"traj 2 roi jru v1",traj_2_roi_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"traj avg velocity jru v1",traj_avg_velocity_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"traj calculator jru v1",traj_calculator_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"traj crop jru v1",traj_crop_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"traj MAD jru v1",traj_MAD_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"traj MSD jru v1",traj_MSD_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"traj rescale x jru v1",traj_rescale_x_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"trajectory statistics jru v1",trajectory_statistics_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"trajectory statistics jru v2",trajectory_statistics_jru_v2