Plugins>Stowers>Jay_Unruh>Detrend Tools,"carpet detrend linear jru v1",carpet_detrend_linear_jru_v1
Plugins>Stowers>Jay_Unruh>Detrend Tools,"carpet sub mov avg jru v1",carpet_sub_mov_avg_jru_v1
Plugins>Stowers>Jay_Unruh>Detrend Tools,"divide line from carpet jru v1",divide_line_from_carpet_jru_v1
Plugins>Stowers>Jay_Unruh>Detrend Tools,"divide line from stack jru v1",divide_line_from_stack_jru_v1
Plugins>Stowers>Jay_Unruh>Detrend Tools,"roi average divide jru v1",roi_average_divide_jru_v1
Plugins>Stowers>Jay_Unruh>Detrend Tools,"roi average subtract jru v1",roi_average_subtract_jru_v1
Plugins>Stowers>Jay_Unruh>Detrend Tools,"roi outside fill avg jru v1",roi_outside_fill_avg_jru_v1
Plugins>Stowers>Jay_Unruh>Detrend Tools,"stack detrend linear jru v1",stack_detrend_linear_jru_v1
Plugins>Stowers>Jay_Unruh>Detrend Tools,"stack subtract moving average jru v2",stack_subtract_moving_average_jru_v2
Plugins>Stowers>Jay_Unruh>Detrend Tools,"subtract line from carpet jru v1",subtract_line_from_carpet_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"cat hyperstacks jru v1",cat_hyperstacks_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"Xuggler encoder jru v1",Xuggler_encoder_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"Xuggler file reader jru v1",Xuggler_file_reader_jru_v1
Plugins>Stowers>Jay_Unruh>FLIM Tools,"fit lifetime jru v1",fit_lifetime_jru_v1
Plugins>Stowers>Jay_Unruh>FLIM Tools,"flim S G stack jru v1",flim_S_G_stack_jru_v1
Plugins>Stowers>Jay_Unruh>FLIM Tools,"GS 2 phasemod jru v1",GS_2_phasemod_jru_v1
Plugins>Stowers>Jay_Unruh>FLIM Tools,"histogram 2D phasor jru v1",histogram_2D_phasor_jru_v1
Plugins>Stowers>Jay_Unruh>FLIM Tools,"read BH sdt jru v1",read_BH_sdt_jru_v1
Plugins>Stowers>Jay_Unruh>FLIM Tools,"traj S G jru v1",traj_S_G_jru_v1
Plugins>Stowers>Jay_Unruh>ICS Tools,"fit RICS jru v1",fit_RICS_jru_v1
Plugins>Stowers>Jay_Unruh>ICS Tools,"fit RICS line jru v1",fit_RICS_line_jru_v1
Plugins>Stowers>Jay_Unruh>ICS Tools,"histogram 2D N B jru v1",histogram_2D_N_B_jru_v1
Plugins>Stowers>Jay_Unruh>ICS Tools,"stack FFT ICCS jru v1",stack_FFT_ICCS_jru_v1
Plugins>Stowers>Jay_Unruh>ICS Tools,"stack FFT ICS jru v1",stack_FFT_ICS_jru_v1
Plugins>Stowers>Jay_Unruh>ICS Tools,"STICS map jru v2",STICS_map_jru_v2
Plugins>Stowers>Jay_Unruh>Image Tools,"avg profile jru v1",avg_profile_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"bin image jru v1",bin_image_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"circular avg jru v1",circular_avg_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"create hs profile jru v1",create_hs_profile_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"create spectrum jru v1",create_spectrum_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"delete hs slice jru v1",delete_hs_slice_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"duplicate hs slice jru v1",duplicate_hs_slice_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"dynamic spectrum jru v1",dynamic_spectrum_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"fit roi gaussian gridsearch jru v1",fit_roi_gaussian_gridsearch_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"fit roi gaussian jru v1",fit_roi_gaussian_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"float 3D depthcode jru v1",float_3D_depthcode_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"float 3D project jru v1",float_3D_project_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"mask hist jru v1",mask_hist_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"mask stack jru v1",mask_stack_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"mask stats jru v1",mask_stats_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"nnmf spectral unmixing jru v1",nnmf_spectral_unmixing_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"pca spectral unmixing jru v1",pca_spectral_unmixing_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"plot line profile jru v1",plot_line_profile_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"plot line profiles jru v1",plot_line_profiles_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"polyline kymograph jru v1",polyline_kymograph_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"stack editor jru v1",stack_editor_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"stack statistics jru v1",stack_statistics_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"stack statistics jru v2",stack_statistics_jru_v2
Plugins>Stowers>Jay_Unruh>Image Tools,"subtract min jru v1",subtract_min_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"edit objects jru v1",edit_objects_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"filter objects jru v1",filter_objects_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"gray morphology jru v1",gray_morphology_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"make edge connected jru v1",make_edge_connected_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"outline objects jru v1",outline_objects_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"realign movie jru v1",realign_movie_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"thresh 3D fraction max jru v1",thresh_3D_fraction_max_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"track centroid jru v1",track_centroid_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"track maximum jru v1",track_maximum_jru_v1
Plugins>Stowers>Jay_Unruh>Sim Tools,"simfluc scanning jru v2",simfluc_scanning_jru_v2
Plugins>Stowers>Jay_Unruh>Table Tools,"add table column jru v1",add_table_column_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"combine all tables jru v1",combine_all_tables_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"hist columns jru v1",hist_columns_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"new clipboard table jru v1",new_clipboard_table_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"plot columns jru v1",plot_columns_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"search table jru v1",search_table_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"sort table jru v1",sort_table_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"analysis auto corr v2",analysis_auto_corr_v2
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"analysis cross corr v2",analysis_cross_corr_v2
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"analysis pch 2D",analysis_pch_2D
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"analysis pch",analysis_pch
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"average trajectories jru v1",average_trajectories_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"batch FRAP fit jru v1",batch_FRAP_fit_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"combine all trajectories jru v1",combine_all_trajectories_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"combine trajectories jru v1",combine_trajectories_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"copy yvals jru v1",copy_yvals_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"export plot jru v1",export_plot_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"extract selected jru v1",extract_selected_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"fit custom function jru v1",fit_custom_function_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"fit multi gaussian jru v1",fit_multi_gaussian_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"fit poly jru v1",fit_poly_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"function generator jru v1",function_generator_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"import plot jru v1",import_plot_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"import t3r trajectory jru v1",import_t3r_trajectory_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"import trajectory jru v1",import_trajectory_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"normalize trajectories jru v1",normalize_trajectories_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"separate trajectories jru v1",separate_trajectories_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"smooth trajectory jru v1",smooth_trajectory_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"text2plot jru v1",text2plot_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"traj 2 roi jru v1",traj_2_roi_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"traj avg velocity jru v1",traj_avg_velocity_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"traj calculator jru v1",traj_calculator_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"traj crop jru v1",traj_crop_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"traj MAD jru v1",traj_MAD_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"traj MSD jru v1",traj_MSD_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"traj rescale x jru v1",traj_rescale_x_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"trajectory statistics jru v1",trajectory_statistics_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"trajectory statistics jru v2",trajectory_statistics_jru_v2
Plugins>Stowers>Jay_Unruh>Carpet Tools,"carpet ICCS jru v1",carpet_ICCS_jru_v1
Plugins>Stowers>Jay_Unruh>Carpet Tools,"carpet ICCS pearson jru v1",carpet_ICCS_pearson_jru_v1
Plugins>Stowers>Jay_Unruh>Carpet Tools,"carpet ICS jru v1",carpet_ICS_jru_v1
Plugins>Stowers>Jay_Unruh>Carpet Tools,"carpet stics jru v1",carpet_stics_jru_v1
Plugins>Stowers>Jay_Unruh>Carpet Tools,"fit carpet stics jru v1",fit_carpet_stics_jru_v1
Plugins>Stowers>Jay_Unruh>Carpet Tools,"get line traj jru v1",get_line_traj_jru_v1
Plugins>Stowers>Jay_Unruh>Detrend Tools,"carpet sub avg jru v1",carpet_sub_avg_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools, "batch LOCI converter jru v1", batch_LOCI_converter_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools, "DV file reader jru v1", DV_file_reader_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools, "LOCI file reader jru v1", LOCI_file_reader_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"generate jru luts jru v1",generate_jru_luts_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"get imaris spot traj jru v1",get_imaris_spot_traj_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"HEFT shortcut window jru v1",HEFT_shortcut_window_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"import KISS jru v1",import_KISS_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"import toa trajectory jru v1",import_toa_trajectory_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"register jay readers jru v1",register_jay_readers_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"set imaris dataset jru v1",set_imaris_dataset_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"set imaris spot traj jru v1",set_imaris_spot_traj_jru_v1
Plugins>Stowers>Jay_Unruh>ICS Tools,"complex amp jru v1",complex_amp_jru_v1
Plugins>Stowers>Jay_Unruh>ICS Tools,"complex phase jru v1",complex_phase_jru_v1
Plugins>Stowers>Jay_Unruh>ICS Tools,"fit ICS jru v1",fit_ICS_jru_v1
Plugins>Stowers>Jay_Unruh>ICS Tools,"fft3D jru v1",fft3D_jru_v1
Plugins>Stowers>Jay_Unruh>ICS Tools,"fft2D jru v1",fft2D_jru_v1
Plugins>Stowers>Jay_Unruh>ICS Tools,"stack FFT STICS jru v1",stack_FFT_STICS_jru_v1
Plugins>Stowers>Jay_Unruh>ICS Tools,"stack temporal FFT jru v1",stack_temporal_FFT_jru_v1
Plugins>Stowers>Jay_Unruh>ICS Tools,"stack FFT TICS jru v1", stack_FFT_TICS_jru_v1
Plugins>Stowers>Jay_Unruh>ICS Tools,"stack FFT TICCS jru v1", stack_FFT_TICCS_jru_v1
Plugins>Stowers>Jay_Unruh>ICS Tools,"STICS map jru v3",STICS_map_jru_v3
Plugins>Stowers>Jay_Unruh>ICS Tools,"traj pearson spatial cc jru v1",traj_pearson_spatial_cc_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"autoscale hyperstack jru v1",autoscale_hyperstack_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"combine stacks jru v1",combine_stacks_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"difference movie jru v1",difference_movie_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"dynamic hs profile jru v1",dynamic_hs_profile_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"FRET heat map jru v2",FRET_heat_map_jru_v2
Plugins>Stowers>Jay_Unruh>Image Tools,"fit 3D multi gaussian jru v1",fit_3D_multi_gaussian_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"image hist2D jru v1",image_hist2D_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"interactive 3D viewer jru v1",interactive_3D_viewer_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"set lut colors jru v1",set_lut_colors_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"StackRegJ_",StackRegJ_
Plugins>Stowers>Jay_Unruh>Image Tools,"KISS unmixing jru v1",KISS_unmixing_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"Time Stamper jru v1",Time_Stamper_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"fit custom tub4 jru v1",fit_custom_tub4_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"flip roi mirror right jru v1",flip_roi_mirror_right_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"line radial angle measure jru v1",line_radial_angle_measure_jru_v1
Plugins>Stowers>Jay_Unruh>PALM Tools,"filtered BALM3D jru v1",filtered_BALM3D_jru_v1
Plugins>Stowers>Jay_Unruh>PALM Tools,"palm display jru v1",palm_display_jru_v1
Plugins>Stowers>Jay_Unruh>PALM Tools,"palm fit3 jru v1",palm_fit3_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"batch object measure jru v2",batch_object_measure_jru_v2
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"cell quadrant profile jru v1",cell_quadrant_profile_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"edit KISS codes jru v1",edit_KISS_codes_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"hist 2 overlay jru v1",hist_2_overlay_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"KISS analysis jru v1",KISS_analysis_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"man track jru v1",man_track_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"objects 2 rois jru v1",objects_2_rois_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"plate analysis jru v1",plate_analysis_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"quadrant profile jru v1",quadrant_profile_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"spb partition analysis jru v2",spb_partition_analysis_jru_v2
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"thick 3D polyline profile jru v1",thick_3D_polyline_profile_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"thresh color image jru v1",thresh_color_image_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"track max not mask jru v1",track_max_not_mask_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"track objects jru v2",track_objects_jru_v2
Plugins>Stowers>Jay_Unruh>Sim Tools,"frap sim jru v1",frap_sim_jru_v1
Plugins>Stowers>Jay_Unruh>Sim Tools,"sim exo endo jru v2",sim_exo_endo_jru_v2
Plugins>Stowers>Jay_Unruh>Sim Tools,"sim FLIM jru v1",sim_FLIM_jru_v1
Plugins>Stowers>Jay_Unruh>Sim Tools,"simfluc point jru v2",simfluc_point_jru_v2
Plugins>Stowers>Jay_Unruh>Table Tools,"cell hist stack jru v1",cell_hist_stack_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"col to uppercase jru v1",col_to_uppercase_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"filter table jru v1",filter_table_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"filtered cell stats jru v1",filtered_cell_stats_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"filtered cell stats jru v2",filtered_cell_stats_jru_v2
Plugins>Stowers>Jay_Unruh>Table Tools,"parse col string jru v1",parse_col_string_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"search table jru v2",search_table_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"table2image jru v1",table2image_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools ,"batch import table jru v1",batch_import_table_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools ,"import table jru v1",import_table_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"calc c3 wlswitch freq jru v1",calc_c3_wlswitch_freq_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"copy errors jru v1",copy_errors_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"copy as emf jru v1",copy_as_emf_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"copy as eps jru v1",copy_as_eps_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"copy as pdf jru v1",copy_as_pdf_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"copy as svg jru v1",copy_as_svg_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"edit plot colors jru v1",edit_plot_colors_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"edit plot sizes jru v1",edit_plot_sizes_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"export EMF jru v1",export_EMF_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"fit gaussian jru v1",fit_gaussian_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"fit multi gaussian jru v3",fit_multi_gaussian_jru_v3
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"get KISS spectra jru v1",get_KISS_spectra_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"histogram traj jru v1",histogram_traj_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"histogram2D traj jru v1",histogram2D_traj_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"import confocor3 trajectory jru v1",import_confocor3_trajectory_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"import c3 wlswitch trajectory jru v1",import_c3_wlswitch_trajectory_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"import iss trajectory jru v1",import_iss_trajectory_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"import pt2 trajectory jru v1",import_pt2_trajectory_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"PlotWindow Extensions jru v1",PlotWindow_Extensions_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"resample plot jru v1",resample_plot_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"traj fft 2corr jru v1",traj_fft_2corr_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"traj math jru v1",traj_math_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"traj crop jru v2",traj_crop_jru_v2Plugins>Stowers>Jay_Unruh>Misc Tools,"adjust color balance jru v1",adjust_color_balance_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"measure trajectories jru v1",measure_trajectories_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"id mother lineage jru v1",id_mother_lineage_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"dna damage analysis jru v1",dna_damage_analysis_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"dna damage FRET analysis jru v2",dna_damage_FRET_analysis_jru_v2
Plugins>Stowers>Jay_Unruh>Misc Tools,"dna damage analysis multicolor jru v1",dna_damage_analysis_multicolor_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"linear unmixing jru v2",linear_unmixing_jru_v2
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"trajectories 2 flowmap jru v1",trajectories_2_flowmap_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"count max not mask jru v1",count_max_not_mask_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"Create Plugin jru v1",Create_Plugin_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"overlay image jru v1",overlay_image_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"set multi plot offsets jru v1",set_multi_plot_offsets_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"make inset jru v1",make_inset_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"filter 3D objects jru v1",filter_3D_objects_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"object measure 3D jru v1",object_measure_3D_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"convert to mask jru v1",convert_to_mask_jru_v1
Plugins>Stowers>Jay_Unruh>ICS Tools,"fit RICS jru v2",fit_RICS_jru_v2
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"check track alignment jru v1",check_track_alignment_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"duplicate trajectory jru v1",duplicate_trajectory_jru_v1
Plugins>Stowers>Jay_Unruh>Sim Tools,"propagate errors jru v1",propagate_errors_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"filter channel contributions jru v1",filter_channel_contributions_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"get window class info jru v1",get_window_class_info_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"merge all stacks jru v1",merge_all_stacks_jru_v1
Plugins>Stowers>Jay_Unruh>Batch Tools,"search slice labels jru v1",search_slice_labels_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"close table jru v1",close_table_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"jay stitching plugin jru v1",jay_stitching_plugin_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"stitch mosaic image jru v1",stitch_mosaic_image_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"divide by blurred jru v1",divide_by_blurred_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"adaptive threshold jru v2",adaptive_threshold_jru_v2
Plugins>Stowers>Jay_Unruh>File Tools,"batch file open jru v1",batch_file_open_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"set min max all chan jru v1",set_min_max_all_chan_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"set lut ranges jru v1",set_lut_ranges_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"add random rois jru v1",add_random_rois_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"object area centroid surface 3D jru v1",object_area_centroid_surface_3D_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"fit traj gaussian gridsearch jru v1",fit_traj_gaussian_gridsearch_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"auto roll ball back sub jru v1",auto_roll_ball_back_sub_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"remove dark pixels jru v1",remove_dark_pixels_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"rename table jru v1",rename_table_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"export table jru v1",export_table_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"channel math jru v1",channel_math_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"stitch pe library jru v2",stitch_pe_library_jru_v2
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"loess smooth jru v1",loess_smooth_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"fit traj double gaus jru v1",fit_traj_double_gaus_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"histogram 2D spectral phasor jru v1",histogram_2D_spectral_phasor_jru_v1
Plugins>Stowers>Jay_Unruh>ImageStream,"flowsight custom converter jru v1",flowsight_custom_converter_jru_v1
Plugins>Stowers>Jay_Unruh>ImageStream,"flowsight fret map jru v1",flowsight_fret_map_jru_v1
Plugins>Stowers>Jay_Unruh>ImageStream,"flowsight outside puncta conc jru v1",flowsight_outside_puncta_conc_jru_v1
Plugins>Stowers>Jay_Unruh>ImageStream,"flowsight stack importer jru v1",flowsight_stack_importer_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"export flowcyte jru v1",export_flowcyte_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"import flowcyte jru v1",import_flowcyte_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"dump tiff tags jru v1",dump_tiff_tags_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"object measure jru v1",object_measure_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"add table column string jru v1",add_table_column_string_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"delete table column jru v1",delete_table_column_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"combine tables jru v1",combine_tables_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"get metadata tag jru v1",get_metadata_tag_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"custom yeast nuclear table jru v2",custom_yeast_nuclear_table_jru_v2
Plugins>Stowers>Jay_Unruh>Batch Tools,"heatmap jru v1",heatmap_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"autoscale stack jru v1",autoscale_stack_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"create montages from table jru v1",create_montages_from_table_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"flatten shifted labels jru v1",flatten_shifted_labels_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"segment nucleoli jru v1",segment_nucleoli_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"track max not mask 3D jru v1",track_max_not_mask_3D_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"test sedt jru v1",test_sedt_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"roi 2 traj jru v1",roi_2_traj_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"roi 2 traj3D jru v1",roi_2_traj3D_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"set 3D shapes jru v1",set_3D_shapes_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"fit custom ring jru v1",fit_custom_ring_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"coord transformation jru v1",coord_transformation_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"custom image transformation jru v1",custom_image_transformation_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"batch LOCI converter jru v2",batch_LOCI_converter_jru_v2
Plugins>Stowers>Jay_Unruh>Image Tools,"channel alignment jru v1",channel_alignment_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"channel alignment z jru v1",channel_alignment_z_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"find circular background jru v1",find_circular_background_jru_v1
Help>About Plugins,"show plugins list jru v1",show_plugins_list_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"fit FRAP jru v1",fit_FRAP_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"contour selection jru v1",contour_selection_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"export emf image rois jru v1",export_emf_image_rois_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"rois 2 objects jru v1",rois_2_objects_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"filter table spatial rois jru v1",filter_table_spatial_rois_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"multi point roi 2 roimanager jru v1",multi_point_roi_2_roimanager_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"stitch stics jru v1",stitch_stics_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"kernel density est jru v1",kernel_density_est_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"track max not mask jru v2",track_max_not_mask_jru_v2
Plugins>Stowers>Jay_Unruh>Table Tools,"make subtable jru v1",make_subtable_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"custom yeast nuclear table jru v4",custom_yeast_nuclear_table_jru_v4
Plugins>Stowers>Jay_Unruh>Misc Tools,"custom yeast nuclear table jru v5",custom_yeast_nuclear_table_jru_v5
Plugins>Stowers>Jay_Unruh>Sim Tools,"sim kt tracking jru v1",sim_kt_tracking_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"find single double spots jru v1",find_single_double_spots_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"merge channels jru v1",merge_channels_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"open pe library tiles jru v1",open_pe_library_tiles_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"filter table jru v2",filter_table_jru_v2
Plugins>Stowers>Jay_Unruh>Table Tools,"duplicate table jru v1",duplicate_table_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"new table jru v1",new_table_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"add table row jru v1",add_table_row_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"get crypt xz profile jru v1",get_crypt_xz_profile_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"separate all frames jru v1",separate_all_frames_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"fit multi gaussian jru v4",fit_multi_gaussian_jru_v4
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"copy plot custom jru v1",copy_plot_custom_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"transmission 2 absorbance jru v1",transmission_2_absorbance_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"import jfcs jru v1",import_jfcs_jru_v1
Plugins>Stowers>Jay_Unruh>Carpet Tools,"find carpet max column jru v1",find_carpet_max_column_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"realign movie z jru v1",realign_movie_z_jru_v1
Plugins>Stowers>Jay_Unruh>Batch Tools,"batch plate analysis jru v1",batch_plate_analysis_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"add row numbers jru v1",add_row_numbers_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"close all tables jru v1",close_all_tables_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"edit column labels jru v1",edit_column_labels_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"hist 2D 2 1D gated jru v1",hist_2D_2_1D_gated_jru_v1
Plugins>Stowers>Jay_Unruh>Binding Analysis,"fit stretched exp jru v1",fit_stretched_exp_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"generate hist image gate jru v1",generate_hist_image_gate_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"get hist image jru v1",get_hist_image_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"fill roi float jru v1",fill_roi_float_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"dilate color jru v1",dilate_color_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"pair correlation function jru v1",pair_correlation_function_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"get crypt xz profile jru v2",get_crypt_xz_profile_jru_v2
Plugins>Stowers>Jay_Unruh>Sim Tools,"simulate npcs jru v1",simulate_npcs_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"get imaris dataset jru v1",get_imaris_dataset_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"custom amfret analysis jru v1",custom_amfret_analysis_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"dump table 2 stdout jru v1",dump_table_2_stdout_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"custom amfret gate generation jru v1",custom_amfret_gate_generation_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"realign npcs jru v1",realign_npcs_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"get loci objective info jru v1",get_loci_objective_info_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"wrap angle profile jru v1",wrap_angle_profile_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"segment nucleoli jru v2",segment_nucleoli_jru_v2
Plugins>Stowers>Jay_Unruh>Misc Tools,"segment nucleoli jru v3",segment_nucleoli_jru_v3
Plugins>Stowers>Jay_Unruh>Misc Tools,"custom amfret gate generation jru v2",custom_amfret_gate_generation_jru_v2
Plugins>Stowers>Jay_Unruh>Misc Tools,"custom amfret analysis jru v2",custom_amfret_analysis_jru_v2
Plugins>Stowers>Jay_Unruh>Misc Tools,"set white balance jru v1",set_white_balance_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"filter largest objects jru v1",filter_largest_objects_jru_v1
Plugins>Stowers>Jay_Unruh>ImageStream,"get 2D hist roi coords jru v1",get_2D_hist_roi_coords_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"apply gamma jru v1",apply_gamma_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"search plot annotations jru v1",search_plot_annotations_jru_v1
Plugins>Stowers>Jay_Unruh>Deconvolution Tools,"convolve 3D",convolve_3D
Plugins>Stowers>Jay_Unruh>Deconvolution Tools,"generate rings",generate_rings
Plugins>Stowers>Jay_Unruh>ICS Tools,"stack real FFT jru v1",stack_real_FFT_jru_v1
Plugins>Stowers>Jay_Unruh>ICS Tools,"complex iFFT jru v1",complex_iFFT_jru_v1
Plugins>Stowers>Jay_Unruh>ICS Tools,"stack real 3D FFT jru v1",stack_real_3D_FFT_jru_v1
Plugins>Stowers>Jay_Unruh>ICS Tools,"stack real 3D iFFT jru v1",stack_real_3D_iFFT_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"edf jru v1",edf_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"segment nucleoli jru v4",segment_nucleoli_jru_v4
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"filter point pairs jru v1",filter_point_pairs_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"filter point triples jru v1",filter_point_triples_jru_v1
Plugins>Stowers>Jay_Unruh>Batch Tools,"table listener jru v1",table_listener_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"batch convert flowcyte jru v1",batch_convert_flowcyte_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"track cells phase jru v1",track_cells_phase_jru_v1
Plugins>Stowers>Jay_Unruh>Sim Tools,"random number generator jru v1",random_number_generator_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"measure 3D jru v1",measure_3D_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"track max not mask fast jru v1",track_max_not_mask_fast_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"track max not mask 3D fast jru v1",track_max_not_mask_3D_fast_jru_v1
Plugins>Stowers>Jay_Unruh>Detrend Tools,"stack divide moving average jru v2",stack_divide_moving_average_jru_v2
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"get traj lengths jru v1",get_traj_lengths_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"set multi plot xspacing jru v1",set_multi_plot_xspacing_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"batch segmentation jru v1",batch_segmentation_jru_v1
Plugins>Stowers>Jay_Unruh>Table Tools,"parama table summarize",parama_table_summarize
Plugins>Stowers>Jay_Unruh>File Tools,"test tiff writer jru v1",test_tiff_writer_jru_v1
Plugins>Stowers>Jay_Unruh>Batch Tools,"kai gfp loc screen jru v1",kai_gfp_loc_screen_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"kai gfp loc table analysis jru v2",kai_gfp_loc_table_analysis_jru_v2
Plugins>Stowers>Jay_Unruh>File Tools,"list files date mod jru v1",list_files_date_mod_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"copy table files jru v1",copy_table_files_jru_v1
Plugins>Stowers>Jay_Unruh>ICS Tools,"STICS map3D jru v1",STICS_map3D_jru_v1
Plugins>Stowers>Jay_Unruh>ImageStream,"amfret profile jru v1",amfret_profile_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"manual transform 3D images jru v1",manual_transform_3D_images_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"export plot jru v2",export_plot_jru_v2
Plugins>Stowers>Jay_Unruh>Misc Tools,"normalize stack jru v1",normalize_stack_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"overlap objects jru v1",overlap_objects_jru_v1
Plugins>Stowers>Jay_Unruh>ImageStream,"manual hist gate jru v1",manual_hist_gate_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"SIFTj jru v1",SIFTj_jru_v1
Plugins>Stowers>Jay_Unruh>Image Tools,"transform from table jru v1",transform_from_table_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"make pcf fry plot jru v1",make_pcf_fry_plot_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"spatial transcriptomics image maker jru v1",spatial_transcriptomics_image_maker_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"spatial transcriptomics roi profile jru v1",spatial_transcriptomics_roi_profile_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"contrast saver jru v1",contrast_saver_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"remove n brightest spots 3D jru v1",remove_n_brightest_spots_3D_jru_v1
Plugins>Stowers>Jay_Unruh>Batch Tools,"large image unmixing jru v1",large_image_unmixing_jru_v1
Plugins>Stowers>Jay_Unruh>Segmentation Tools,"watershed subset jru v1",watershed_subset_jru_v1
Plugins>Stowers>Jay_Unruh>Detrend Tools,"subtract line from stack jru v1",subtract_line_from_stack_jru_v1
Plugins>Stowers>Jay_Unruh>Batch Tools,"view screen folder jru v1",view_screen_folder_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"remove laser flash jru v1",remove_laser_flash_jru_v1
Plugins>Stowers>Jay_Unruh>File Tools,"set default directory jru v1",set_default_directory_jru_v1
Plugins>Stowers>Jay_Unruh>FLIM Tools,"histogram 2D phasor jru v2",histogram_2D_phasor_jru_v2
Plugins>Stowers>Jay_Unruh>Detrend Tools,"stack subtract moving statistic jru v1",stack_subtract_moving_statistic_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"avg mirror traj jru v1",avg_mirror_traj_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"fit traj single double gaus jru v1",fit_traj_single_double_gaus_jru_v1
Plugins>Stowers>Jay_Unruh>Trajectory Tools,"get peak areas jru v1",get_peak_areas_jru_v1
Plugins>Stowers>Jay_Unruh>Misc Tools,"correct bidir scan offset jru v1",correct_bidir_scan_offset_jru_v1